<?xml version = "1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Luxoft_selenium_intro">
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>
    <test name="some tests">
        <classes>
            <class name="pl.luxoft.selenium.FirstSeleniumTest"/>
        </classes>
    </test>
</suite>